<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sign up for Blog Y." />
    <title>Login / Y</title>
    <link
      rel="icon"
      type="image.png"
      href="./logo_filled_white.png"
      sizes="16x16"
    />
    <link rel="stylesheet" type="text/css" href="./login.css" />
  </head>
  <body>
    <section id="login">
      <section id="login-image">
        <img src="./logo_white.png" class="nav-logo" />
      </section>
      <section id="login-text">
        <p id="happening-now">Happening Now</p>
        <p id="join-today">Join Today.</p>
        <script
          src="https://accounts.google.com/gsi/client"
          async
          defer
        ></script>
        <div
          id="g_id_onload"
          data-client_id="315183206809-5v326tmjtgo87q20mtkg3p28f561qecu.apps.googleusercontent.com"
          data-login_uri="http://localhost:300/login"
          data-auto_prompt="false"
        ></div>
        <div
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rounded"
          data-logo_alignment="left"
          data-wi
        ></div>
      </section>
    </section>
  </body>
</html>
