<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home / Y</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The home page for Blog Y." />
    <link rel="stylesheet" type="text/css" href="../static/css/comments.css" />
    <script src="../scripts/comments.js" type="module"></script>

    <link
      rel="icon"
      type="image.png"
      href="../static/images/logo_filled_white.png"
      sizes="16x16"
    />
  </head>
  <body>
    <main>

        <div class="post">
            <h2>Blog Post Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec quam vel justo egestas tincidunt.</p>
            <p class="comment-btn">Comment</p>
            <div class="comment-dialog">
              <input type="text" id="comment-input" placeholder="Enter your comment">
              <button id="submit-comment">Submit</button>
            </div>
            <div class="comments">
              <!-- Comments will be added here -->
            </div>
          </div>

    </main>
  </body>
</html>
