@import url("https://fonts.googleapis.com/css?family=Lato");
:root {
  --primary-color: #1d9bf0;
  --primary-color-hover: #1a8cd8;
  --light-color: #eff3f4;
  --light-color-hover: #b9bdbe;
  --dark-color: #000000;
  --dark-color-hover: #131313;
  --dark-accent-color: #16181c;
  --dark-accent-color-hover: #1d1f23;
  --main-font: "Lato", "Arial", sans-serif;
}

html {
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
  color: var(--light-color);
  background-color: var(--dark-color);
  overflow: hidden;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: center;
  grid-template-columns: 20vw 40vw;
  grid-template-areas: "aside main";
}

.button {
  background-color: var(--primary-color);
  padding: 0;
  color: var(--light-color);
  border-radius: 1.5em;
  border-style: none;
  font-family: inherit;
  font-weight: bold;
}

.button:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

aside {
  height: 100%;
  padding: 1rem;
}

aside img {
  height: 4rem;
}

aside ul {
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
}

aside ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5rem;
  text-align: center;
  height: 3rem;
  margin: 0.5rem 0 0.5rem 0;
}
aside ul li:hover {
  background-color: var(--dark-color-hover);
  cursor: pointer;
}
aside ul li a.selected {
  font-weight: 1000;
}

aside ul li img {
  object-fit: contain;
  padding: 1rem;
  max-width: 2rem;
}

aside ul li.postItem {
  justify-content: center;
  background-color: var(--primary-color);
  padding: 0;
  color: var(--light-color);
  border-radius: 1.5em;
}

a:hover {
  cursor: pointer;
}

/* LOADING SCREEN */
#loading-screen {
  display: none;
  background: var(--dark-color-hover);
  position: absolute;
  width: 100%;
  height: 100%;
}
#loading-screen.display {
  display: flex;
  align-self: center;
}

#loading-screen img {
  width: 20%;
  display: flex;
  align-self: center;
  margin: auto;
  animation: spin 1s infinite linear;
}

@media (max-width: 1000px) {
  h1 {
    text-align: center;
  }
  aside {
    padding-left: 0;
    padding-right: 0;
  }
  aside a {
    display: none;
  }

  body {
    grid-template-columns: 10vw 60vw;
  }

  aside ul li {
    justify-content: center;
  }
  aside ul li.postItem {
    min-width: 45px;
  }
  aside ul li img {
    padding: 0;
  }
}

@media (max-width: 500px) {
  body {
    grid-template-rows: 90vh 10vh;
    grid-template-columns: 100vw;
    grid-template-areas: "aside main";
  }

  main {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  aside .nav-logo{
    display: none;
  }

  aside {
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;

  }
  
  aside ul{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }

  aside img{
    height: 3rem;
  }
  aside ul li {
    display: inline-block;
  }

  aside ul li.postItem {
    background-color: transparent;
  }
}
